{{ if eq .Type "recetas" }}
<script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "Recipe",
  "name": "{{ .Title }}",
  "image": "{{ .Params.image | absURL }}",
  "description": "{{ .Description }}",
  "prepTime": "{{ .Params.prepTime }}",
  "cookTime": "{{ .Params.cookTime }}",
  "totalTime": "{{ .Params.totalTime }}",
  "recipeYield": "{{ .Params.recipeYield }}",
  "recipeCategory": "{{ .Params.recipeCategory }}",
  "recipeCuisine": "{{ .Params.recipeCuisine }}",
  "keywords": "{{ delimit .Params.tags ", " }}",
  "author": {
    "@type": "Person",
    "name": "Tu Nombre"
  },
  "recipeIngredient": [
    {{ range .Params.ingredients }}
    "{{ . }}"{{ if not (eq . (index (last 1 $.Params.ingredients) 0)) }},{{ end }}
    {{ end }}
  ],
  "recipeInstructions": [
    {{ range .Params.instructions }}
    {
      "@type": "HowToStep",
      "text": "{{ . }}"
    }{{ if not (eq . (index (last 1 $.Params.instructions) 0)) }},{{ end }}
    {{ end }}
  ]
}
</script>
{{ end }}